<div class="example-container mat-elevation-z8">
  <div class="example-header">
    Водители
  </div>

  <md-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="callSign">
      <md-header-cell *cdkHeaderCellDef> Позывной </md-header-cell>
      <md-cell class="cell call-sign-cell" *cdkCellDef="let row"> {{row.callSign||'N/A'}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="fullName">
      <md-header-cell *cdkHeaderCellDef> ФИО </md-header-cell>
      <md-cell class="cell" *cdkCellDef="let row"> {{row.secondName+' '+row.firstName+' '+row.parentName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <md-header-cell *cdkHeaderCellDef> Статус </md-header-cell>
      <md-cell class="cell" *cdkCellDef="let row"><md-icon [style.color]="row.onDuty?'green':'red'">directions_car</md-icon> {{row.onDuty?'На смене':'Не на смене'}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="balance">
      <md-header-cell *cdkHeaderCellDef> Баланс </md-header-cell>
      <md-cell class="cell balance-cell" *cdkCellDef="let row"> {{row.balance}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"
            [class.selected]="row.id == selectedDriverId"
            (click)="handleRowClick(row)"></md-row>

  </md-table>
</div>
