<md-card class="driver-panel">
  <md-card-actions>
    <span><button class="left" md-button color="primary" (click)="openEditDialog()" ><md-icon>mode_edit</md-icon></button></span>
    <span class="example-fill-remaining-space"></span>
    <span><button class="right" md-button color="warning" [disabled]="deleting" (click)="delete()"><md-icon *ngIf="!deleting">delete_forever</md-icon><md-spinner *ngIf="deleting"></md-spinner></button></span>
  </md-card-actions>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Водитель">
        <md-list>
          <md-list-item dense>
            <div md-line>{{driver.secondName+' '+driver.firstName}}</div>
            <div md-line>{{driver.parentName}}</div>
            <md-chip-list>
              <md-chip color="accent" selected="true">{{driver.balance}}</md-chip>
            </md-chip-list>
          </md-list-item>
          <md-divider></md-divider>
          <h3 md-subheader>КОНТАКТЫ</h3>
          <md-list-item>
            <div md-line *ngFor="let number of driver.phoneNumbers">{{number}}</div>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item *ngFor="let car of driver.cars">
            <md-icon md-list-icon>directions_car</md-icon>
            <div md-line>{{car.manufacturer+' '+car.color}}</div>
            <div md-line>{{car.stateNumber}}</div>
          </md-list-item>
        </md-list>
      </md-tab>
      <md-tab label="История">Функционал пока не реализирован</md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
