<div  class="container-fluid">
  <md-card class="top-panel">
    <div class="row">
      <div [className]="getRouteURL()==='/drivers'?'col-md-3':'col-md-4'" >
        <md-select placeholder="Автоколонна" [(ngModel)]="selectedConvoy"
                   (ngModelChange)="changeConvoy()" name="food">
          <md-option *ngFor="let convoy of convoys" [value]="convoy">
            {{ convoy }}
          </md-option>
        </md-select>
      </div>
      <div *ngIf="getRouteURL()==='/drivers'"  class="col-md-2">
        <md-select placeholder="Статус" [(ngModel)]="selectedStatus"
                   (ngModelChange)="changeStatus()">
          <md-option *ngFor="let status of statuses" [value]="status">
            {{ status }}
          </md-option>
        </md-select>
      </div>
      <div [className]="getRouteURL()=='/drivers'?'col-md-3':'col-md-4'" >
        <md-input-container >
          <md-placeholder>
            <md-icon>search</md-icon> Поисковый запрос
          </md-placeholder>
          <input mdInput type="text"  [(ngModel)]="searchKeyword"
                 (keyup)="changeKeyword()">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-button-toggle-group  #group="mdButtonToggleGroup">
          <md-button-toggle  value="cars" routerLink="cars" routerLinkActive="active">
            Автомобили
          </md-button-toggle>
          <md-button-toggle  value="drivers" routerLink="drivers"  routerLinkActive="active">
            Водители
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </div>
  </md-card>
  <div class="app-router">
    <router-outlet></router-outlet>
  </div>
</div>
