<md-card>

  <md-card-header>
    <div md-card-avatar [style.background-image]="'url('+car.imageURL+')'" class="example-header-image"></div>
    <md-card-title>{{car?car.manufacturer+' '+car.model:''}}</md-card-title>
    <md-card-subtitle>{{car?car.color:''}}</md-card-subtitle>
    <md-card-subtitle>{{car?car.stateNumber:''}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{car.imageURL}}">
  <md-card-content>
  </md-card-content>
  <md-card-actions>
    <span><button class="left" md-button color="primary" (click)="openEditDialog()" ><md-icon>mode_edit</md-icon></button></span>
    <span class="example-fill-remaining-space"></span>
    <span><button class="right" md-button color="warning" [disabled]="deleting" (click)="delete()"><md-icon *ngIf="!deleting">delete_forever</md-icon><md-spinner *ngIf="deleting"></md-spinner></button></span>
  </md-card-actions>

</md-card>


